{
	"parser": "babel-eslint",
	"extends": ["airbnb", "plugin:react/recommended", "prettier/react"],
	"env": {
		"browser": true,
		"node": true,
		"jest": true,
		"es6": true
	},
	"globals": {},
	"plugins": ["react", "jsx-a11y", "react-hooks", "prettier"],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"no-param-reassign": "off",
		"function-paren-newline": "off",
		"arrow-parens": ["error", "always"],
		"arrow-body-style": [2, "as-needed"],
		"comma-dangle": ["error", "only-multiline"],
		"import/no-extraneous-dependencies": 0,
		"import/prefer-default-export": 0,
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"no-tabs": 0,
		"camelcase": 1,
		"max-len": 0,
		"react/no-unused-state": 1,
		"import/no-unresolved": "error",
		"import/namespace": "error",
		"react/no-find-dom-node": 0,
		"react-hooks/rules-of-hooks": "error",
		"jsx-quotes": ["error", "prefer-single"],
		"no-console": 1,
		"prefer-destructuring": 1,
		"react/jsx-props-no-spreading": 0,
		"react/destructuring-assignment": 1,
		"radix": 0,
		"jsx-a11y/click-events-have-key-events": 0,
		"react/forbid-prop-types": 0,
		"implicit-arrow-linebreak": 0,
		"react/jsx-curly-brace-presence": "off",
		"react/jsx-first-prop-new-line": [2, "multiline"],
		"react/jsx-filename-extension": 0,
		"react/require-default-props": 0,
		"class-methods-use-this": 0,
		"react/self-closing-comp": 0,
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"object-curly-newline": 0,
		"react/prop-types": 0,
		"prefer-rest-params": 0,
		"jsx-a11y/anchor-is-valid": 0,
		"no-underscore-dangle": ["error", { "allowAfterThis": true }],
		"jsx-closing-bracket-location": 0,
		"jsx-a11y/no-static-element-interactions": 0,
		"no-nested-ternary": 0,
		"react/sort-comp": 0,
		"import/extensions": 0,
		"global-require": 0,
		
		
		"react/no-array-index-key": 1
	}
}
